<!DOCTYPE html>
<html>
  <head>
    <title>
      Westminster MC Parkour Leaderboard
    </title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div id="h">
      <h1>Westminster Minecraft Parkour Leaderboard</h1>
    </div>

    <table border = 1>
      <thead>
        <td>Rank</td>
        <td>Name</td>
        <td>Year</td>
        <td>House</td>
        <td>Best Time</td>
      </thead>
      
      {% for person in people %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{person["name"]}}</td>
          <td>{{person["year"]}}</td>
          <td>{{person["house"]}}</td>
          <td>{{person["times"][0]}}</td>
        </tr>
      {% endfor %}
  </table>
    
  </body>
</html>
